{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load menu_tags %}
{% block body_class %}homepage{% endblock %}

{% block content %}
{% include "includes/test.html"  %}
<div class="hero-banner">
    <img src="https://res.cloudinary.com/dyqesnour/image/upload/v1524274117/HeroBanner_vu4ly3.jpg" alt="Tash Talevski Yoga">
    <nav>
        <div class="nav-logo">
            <div id="circle-left"></div>
            <div id="circle-right"></div>
        </div>
        <div class="main-nav">
        {% main_menu %}
        </div>
    </nav>

    <div class="banner-text">
        <h1>Tash Talevski</h1>
        <h2>{{ page.subheading }}</h2>
    </div>
</div>
<div class="quadtriptych">
    <div class="group">
        <div class="md-col-3"></div>
        <div class="md-col-3"></div>
        <div class="md-col-3"></div>
        <div class="md-col-3"></div>
    </div>
</div>
<div class="about-tash-intro">
    <div class="group">
        <div class="md-col-9"></div>
        <div class="md-col-3"></div>
    </div>
</div>


<div class="intro-about">
    {{ page.intro_about|richtext }}
</div>
{% endblock %}
