{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load menu_tags %}
{% block body_class %}homepage{% endblock %}


{% block content %}


{% include "includes/test.html"  %}
<div class="hero-banner">
    <img src="https://res.cloudinary.com/dyqesnour/image/upload/v1524274117/HeroBanner_vu4ly3.jpg" alt="Tash Talevski Yoga">
    <nav>
        <div class="nav-logo">
            <div id="circle-left"></div>
            <div id="circle-right"></div>
        </div>
        <div class="main-nav">
        {% main_menu template="menus/custom_main_menu.html" %}
        </div>
    </nav>

    <div class="banner-text">
        {% if page.info_heading_1 %}
            whatever
        {% endif %}
        <h1>Tash Talevski</h1>
        <h2>{{ page.subheading }}</h2>
    </div>
</div>
<div class="quadtriptych">
    <div class="group">
        {% if page.info_heading_1 and page.info_box_1 %}
        <div class="md-col-3">
            <h3>{{page.info_heading_1}}</h3>
            <p>{{page.info_box_1}}</p>
        </div>
        {% endif %}
        {% if page.info_heading_2 and page.info_box_2 %}
        <div class="md-col-3">
            <h3>{{page.info_heading_2}}</h3>
            <p>{{page.info_box_2}}</p>            
        </div>
        {% endif %}
        {% if page.info_heading_3 and page.info_box_3 %}
        <div class="md-col-3">
            <h3>{{page.info_heading_3}}</h3>
            <p>{{page.info_box_3}}</p>
        </div>
        {% endif %}
        {% if page.info_heading_4 and page.info_box_4 %}
        <div class="md-col-3">
            <h3>{{page.info_heading_4}}</h3>
            <p>{{page.info_box_4}}</p>
        </div>
        {% endif %}
    </div>
</div>
<div class="about-tash-intro">
    <div class="group about">
        <div class="col-md-8">
            <h3>About</h3>
            {{ page.intro_about|richtext }}
        </div>
        <div class="col-md-4">
            <img src="/media/{{page.intro_about_image}}" alt="About Tash" class="about-image">
        </div>
    </div>
</div>

{% endblock %}
